// Layout, Variables, Fonts
@import 'fonts.styl'
@import 'layout.styl'
//======================================

// header
header p
  color color-second
  header-inner
    display grid
    grid-template-columns 1fr 1fr 1fr 1fr
// section.content


// footer